@import "./src/common/commonStyles";

.container {
    padding: 20px;
}

.title {
    position: absolute;
    top: 20px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: -0.73px;
    color: #000;
    margin-bottom: 30px;
}

.button {
    display: block;
    width: 100%;
    padding: 13px 0;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.67;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.2s ease;
}

.confirm {
    background-color: #326eb0;
    &:hover {
        background-color: #245284;
        color: #fff;
    }
    margin-bottom: 20px;
}
.reject {
    &:hover {
        background-color: #C78B00;
    }
    color: #fff;
    background-color: #ffb200;
}