@import "./src/common/commonStyles";


.outer {
    background-color: #f3f3f3;
    min-height: 100vh;
}

.topOuter {
    background-color: $background-top-color;
}

.top {
    width: 1440px;
    padding: 33px 20px;
    margin: 0 auto;
    height: 20vh;
}

.topInner {
    @include flexible();
    justify-content: space-between;
}

.name {
    line-height: normal;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.8px;
    color: #fff;
}

.logout {
    cursor: pointer;
    padding: 11px 40px;
    border-radius: 23.5px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: -0.58px;
    background-color: #fff;
    color: $background-top-color;
}

.mapContainer {
    border-radius: 10px;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 30px;
    top: 30px;
}

.title {
    font-size: 28px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
}

.buttons {
    @include flexible();
    justify-content: space-between;
}