@import "./src/common/commonStyles";

.container {
}

.top {
    position: relative;
    top: -30px;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding-bottom: 30px;
}

.content {
    background-color: #ececec;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.info {
    width: 33%;
}

.img {
    width: 66%;
    & img {
        width: 100%;
    }
}

.graph {
    margin: 0 auto;
    width: 1600px;
    max-height: 300px;
}