.outer {
    min-height: 100vh;
    width: 100%;
    position: relative;
    background-color: #e7eaef;
}

.container {
    background-color: #f2f3f7;
    max-width: 480px;
    margin: 0 auto;
    //min-height: 100vh;
}