.outer {
    //min-height: 100vh;
    position: relative;
    background-color: #f2f3f7;
}

.container {
    background-color: #f2f3f7;
    max-width: 480px;
    margin: 0 auto;
    //min-height: 100vh;
}